################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SingkoFItnessWebApi/Dtos/NutrionalLogDto/NutritionLogCreateDto.cs
/SingkoFItnessWebApi/Controllers/NutritionalLogController.cs
